html {
  scroll-behavior: smooth;
}

html body {
  background-image: url("./assets/yue-su--WX6S7utock-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
